<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link href="/css/bare.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body>
    {{>header}}
    <p>{{message}}</p>
    {{>footer}}
</body>

</html>