<!DOCTYPE html>

<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150591176-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-150591176-1');
    </script>

    <title>Random Name Generator App</title>
    <script data-ad-client="ca-pub-9237251109090985" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="description" content="This website generates random names for many fantasy languages including: Dothraki, Valyrian, Elfish, Dwarven and more... ">
    <meta name="keywords" content="language,name,generator,random,fantasy,elf,dwarf,dnd,star,trek,wow"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/css/bare.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    <section>
        <p>Pick a language below and click GO to generate a random name!</p>
        <grid>
            <div col="1/2">
                <form>
                    <input type="radio" name="flair" id="dothraki" value="1"> <label for="dothraki">Dothraki</label><br>
                    <input type="radio" name="flair" id="valyrian" value="2"> <label for="valyrian">Valyrian</label><br>
                    <input type="radio" name="flair" id="klingon" value="3"> <label for="klingon">Klingon</label><br>
                    <input type="radio" name="flair" id="sindarin" value="4"> <label for="sindarin">Sindarin</label><br>
                    <input type="radio" name="flair" id="khuzdul" value="5"> <label for="khuzdul">Khuzdul</label><br>
                    <input type="radio" name="flair" id="adunaic" value="6"> <label for="adunaic">Adûnaic</label><br>
                    <br>
                    <button primary>Go</button>
                </form>
            </div>
            <div col="1/2">
                <p id='paragraphOne'></p><br>
                <h1 id='paragraphTwo'></h1>
            </div>
        </grid>

    </section>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>