<head>
    <link href="/css/bare.css" rel="stylesheet">
</head>

<nav>
    <label>
        <input type="checkbox">
        <header>
            <a href="/">Name Generator App</a>
        </header>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a>Sources</a>
                <menu>
                    <menuitem><a href="/dothraki">Dothraki</a></menuitem>
                    <menuitem><a href="/valyrian">Valyrian</a></menuitem>
                    <menuitem><a href="/klingon">Klingon</a></menuitem>
                    <menuitem><a href="/sindarin">Sindarin</a></menuitem>
                    <menuitem><a href="/khuzdul">Khuzdul</a></menuitem>
                    <menuitem><a href="/adunaic">Adûnaic</a></menuitem>
                </menu>
            </li>
        </ul>
    </label>
</nav>