<head>
    <link href="/css/bare.css" rel="stylesheet">
</head>

<nav>
    <label>
        <header>
            <a href="/">Name Generator App</a>
        </header>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a>Sources</a>
                <menu>
                    <menuitem><a href="#">Dothraki</a></menuitem>
                    <menuitem><a href="#">Valyrian</a></menuitem>
                    <menuitem><a href="#">Klingon</a></menuitem>
                    <menuitem><a href="#">Sindarin</a></menuitem>
                </menu>
            </li>
        </ul>
    </label>
</nav>