<!DOCTYPE html>

<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150591176-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-150591176-1');
    </script>
    <title>Dothraki - Name Generator App - Dothraki Language Sources</title>
    <meta name="description" content="Learn the sources behind this Dothraki random name generator. Some of the history and rules around the language and more...">
    <meta name="keywords" content="language,name,generator,random,fantasy,game,thrones,GoT,dothraki"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/css/bare.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    <section>
        <grid>
            <div col="1/3">
                <card>
                    <h5>Dothraki People</h5>

                    <img src="/img/dothraki.jpeg" alt="Dothraki language speakers">

                    <p>Dothraki is a harsh sounding language that portrays the tribal and violent way of its people.</p>
                </card>

            </div>

            <div col="2/3">
                <h1>Dothraki</h1>

                <p txt="j">The Dothraki language is a constructed fictional language designed and developed by linguist
                    David J.
                    Peterson for the TV series Game of Thrones, an adaptation of George R. R. Martin novel series A Song
                    of Ice and Fire.</p>
                <p txt="j">It is regarded as one of the, if not the most, complete and convincing recent fictional
                    language.
                    Currently, its vocabulary boasts over three thousand words and has a well-developed grammar. On an
                    interview,
                    Peterson said it sounds like a mix of Arabic and Spanish due to its pharyngeal and dental consonants
                    respectively.</p>
                <p txt="j">Spoken by the people of the same name, the Dothraki language has some very distinguishable
                    characteristics, for example: the lack of the "U" sound/letter; no diphthongs (a combination of two
                    adjacent vowel sounds in the same syllable) and many "h" sounds (fricative consonants) to make it
                    sound harsh</p>
            </div>

        </grid>
    </section>
    {{>footer}}
</body>

</html>