<!DOCTYPE html>

<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150591176-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-150591176-1');
    </script>
    <title>Klingon - Name Generator App - Klingon Language Sources</title>
    <meta name="description" content="Learn the sources behind this Klingon random name generator. Some of the history and rules around the language and more...">
    <meta name="keywords" content="language,name,generator,random,fantasy,star,trek,TOS,klingon,tlhIngan"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/css/bare.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    <section>
        <grid>
            <div col="1/3">
                <card>
                    <h5>Klingon Species</h5>

                    <img src="/img/.jpeg">

                    <p></p>
                </card>

            </div>

            <div col="2/3">
                <h1>Klingon</h1>

                <p txt="j"></p>
                <p txt="j">UNDER CONSTRUCTION</p>
                <p txt="j"></p>
            </div>

        </grid>
    </section>
    {{>footer}}
</body>

</html>