<!DOCTYPE html>

<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150591176-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-150591176-1');
    </script>
    <title>Valyrian - Name Generator App - High Valyrian Language Sources</title>
    <meta name="description" content="Learn the sources behind this Valyrian random name generator. Some of the history and rules around the Valyria language and more...">
    <meta name="keywords" content="language,name,generator,random,fantasy,game,thrones,GoT,valyrian,valyria"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/css/bare.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    <section>
        <grid>
            <div col="1/3">
                <card>
                    <h5>Valyrian Empire</h5>

                    <img src="/img/valyrian.jpeg" alt="Valyrian language speaker">

                    <p>Originally spoken in the ancient Valyrian Freehold, High Valyrian survived the Doom of Valyria
                        and is still used in the Game of Thrones universe.</p>
                </card>

            </div>

            <div col="2/3">
                <h1>Valyrian</h1>

                <p txt="j">Valyrian is a fictional language family created by linguist David J. Peterson for the TV
                    series Game of Thrones, an adaptation of George R. R. Martin novel series A Song
                    of Ice and Fire.</p>
                <p txt="j">Alongside Dothraki, it is considered to be one of the most convincing recent constructed
                    languages. High Valyrian has a well-developed grammar and around a seven hundred words vocabulary.
                    Originally spoken in Old Valyria, it is now mostly used by the nobility of Essos and Westeros. It
                    has also been adapted into the Free Cities's own dialects of what is called Low Valyrian.</p>
                <p txt="j">Some notable features of Valyrian are: the high variety of vowel sounds, with two variations
                    for each of the six sounds (the macron ¯ signifies the vowels should be held for twice as long); the
                    word must end with either a vowel or the letters "s, n, t, z, r"; the word must begin with a vowel, a
                    single consonant or a permitted cluster (an oral stop followed by either a liquid or a sibilant).
                    An example of the last rule is the word "dracarys" which doesn't start with a vowel or a single
                    consonant, but has an oral stop (D) followed by a sibilant (R), so starting a word with "DR" is
                    permitted.</p>
            </div>

        </grid>
    </section>
    {{>footer}}
</body>

</html>